{% extends "PhuriaDemoBundle:Demo:template.html.twig" %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                {% for doctor in doctors %}
                <tr onclick="window.location.href = '{{ path('phuria_demo_homepage', { 'id': doctor.id }) }}';">
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.description }}</td>
                </tr>
                {% endfor %}
                <tr id="new_doctor" class="info" onclick="window.location.href = '{{ path('phuria_demo_homepage', { 'id': 0 }) }}';">
                    <td colspan="4">Add new doctor ...</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
            
                {{ form_errors(form) }}
            
                {{ form_row(form.id) }}
            
                {{ form_row(form.name) }}
            
                {{ form_row(form.description) }}
            
                {{ form_row(form.procedures) }}
            
                
                
                <div class="clinic-form" data-prototype="{{ form_widget(form.clinics.vars.prototype)|e }}">
                    {{ form_label(form.clinics) }}
                    {% for clinic in form.clinics %}
                        {{ form_row(clinic) }}
                    {% endfor %}
                </div>
                    
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}